* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
}
.layar-dalam {
  width: 1000px;
  margin: auto;
}
.layar-penuh {
  width: 100%;
}
nav {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: fixed;
  border-bottom: 1px solid #b1b1b1;
  line-height: 60px;
  width: 100%;
  transition: background-color 0.5s ease;
}
nav.putih {
  background-color: #fff;
}
nav .logo {
  float: left;
  position: relative;
  line-height: 55px;
  text-align: center;
}
nav .logo img {
  vertical-align: middle;
  width: 120px;
}

nav .menu {
  float: right;
  height: 60px;
  max-width: 600px;
}

nav .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav .menu ul li {
  list-style-type: none;
  float: left;
  line-height: 60px;
}

nav ul li a {
  color: #fff;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* pengaturan header */
header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}
header video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
}
header .intro {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
}
header .intro h3 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.tombol {
  background-color: #c86b85;
  height: 40px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0px 20px 0px 20px;
  font-size: 15px;
  border-radius: 100px;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(18, 13, 13);
  opacity: 90%;
  z-index: -1;
}
.tombol-menu {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.tombol-menu .garis {
  height: 3px;
  background-color: #fff;
}
section {
  padding: 50px 0px 50px 0px;
}
section h3 {
  font-size: 30px;
}
section h3::after {
  content: "";
  border-bottom: 5px solid #c86b85;
  width: 52px;
  display: block;
  margin: 20px auto;
}
#aboutus {
  text-align: center;
  background-color: rgb(207, 216, 222);
}
#team {
  text-align: center;
  background: rgb(227, 242, 242);
}
#blog {
  text-align: center;
  background-color: rgb(255, 253, 253);
}
section p.ringkasan {
  font-style: italic;
  font-size: 18px;
  color: #ababab;
}
section .konten-isi p {
  font-style: normal;
}
nav.putih {
  background-color: #fff;
}
nav.putih .tombol-menu .garis {
  background-color: #333;
}
nav.putih ul li a {
  color: #333;
}
nav .logo img.hitam {
  display: none;
}
section.abuabu {
  background-color: #f5f6f6;
}
.support,
.tim,
.blog {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.support h6,
.tim h6 {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  font-size: 18px;
  font-weight: bold;
}
.support img {
  width: 50px;
}
.support div,
.tim div {
  text-align: center;
  width: 26%;
}
section#gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
}
section#gallery div {
  padding: 10px;
}
section#gallery div img {
  height: 100px;
  border-radius: 5px;
}
section#gallery div img:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
section.quote {
  background: url("asset/background-bromo.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  padding: 100px;
}
section.quote .layar-dalam p {
  display: inline;
  background: url("asset/quote-icon.png") no-repeat;
  padding: 40px;
}
.tim img {
  width: 100%;
  box-shadow: 0px -10px 30px #ccc;
  border-radius: 5px;
}
.blog .area {
  width: 47%;
  box-shadow: 0px -10px 30px #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog div.area div {
  width: 50%;
}
.blog .area .gambar {
  border-radius: 5px 0px 0px 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}
.blog .area .text article {
  padding: 40px;
}
.blog .area .text article h4 {
  margin: 0px;
}
.blog .area .text article a {
  color: #333;
  text-decoration: none;
  transition: color 0.5s ease;
}
.blog .area .text article a:hover {
  color: #ccc;
}
footer {
  padding: 50px 0px 50px 0px;
  background-color: #343a40;
  color: #fff;
}
footer .layar-dalam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .layar-dalam div {
  width: 20%;
}
footer .layar-dalam h5 {
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
}
footer .layar-dalam .copyright {
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #666;
  text-align: center;
}
@media screen and (max-width: 991.98px) {
  .layar-dalam {
    width: 90%;
  }
  nav .menu ul {
    display: none;
    margin-top: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  nav .menu ul li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: rgb(237, 247, 245);
    line-height: 40px;

    
  }
  nav .menu ul li a {
    color: #333;
  }
  .tombol-menu {
    display: flex;
  }
  .blog .area {
    display: block;
  }
  .blog div.area div {
    width: 100%;
  }
  .blog .area .gambar {
    border-radius: 5px 5px 0px 0px;
    height: 200px;
  }
  .support {
    display: block;
  }
  .support div {
    width: 100%;
    padding-bottom: 30px;
  }
}



.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--main-color);
  cursor: pointer;
}

.services .box-container .box:hover {
  background: var(--black);
}

.services .box-container .box img {
  height: 7rem;
}

.services .box-container .box h3 {
  color: var(--white);
  font-size: 1.7rem;
  padding-top: 1rem;
}

.home-about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.home-about .image {
  flex: 1 1 41rem;
}

.home-about .image img {
  width: 100%;
}

.home-about .content {
  flex: 1 1 41rem;
  padding: 3rem;
  background: var(--light-bg);
}

.home-about .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.home-about .content p {
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2;
  color: var(--black);
}

.home-packages {
  background: var(--light-bg);
}

.home-packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.home-packages .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  background: var(--white);
}

.home-packages .box-container .box:hover .image img {
  transform: scale(1.1);
}

.home-packages .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}

.home-packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
}

.home-packages .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.home-packages .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.home-packages .box-container .box .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}

.home-packages .load-more {
  text-align: center;
  margin-top: 2rem;
}

.home-offer {
  text-align: center;
}

.home-offer .content {
  max-width: 70rem;
  margin: 0 auto;
}

.home-offer .content h3 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: var(--black);
}

.home-offer .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.about .image {
  flex: 1 1 41rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  flex: 1 1 41rem;
  text-align: center;
}

.about .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.about .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}

.about .content .icons-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-end;
}

.about .content .icons-container .icons {
  background: var(--light-bg);
  padding: 2rem;
  flex: 1 1 16rem;
}

.about .content .icons-container .icons i {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: var(--main-color);
}

.about .content .icons-container .icons span {
  font-size: 1.5rem;
  color: var(--light-black);
  display: block;
}

.reviews {
  background: var(--light-bg);
}

.reviews .slide {
  padding: 2rem;
  border: var(--border);
  background: var(--white);
  text-align: center;
  box-shadow: var(--box-shadow);
  user-select: none;
}

.reviews .slide .stars {
  padding-bottom: .5rem;
}

.reviews .slide .stars i {
  font-size: 1.7rem;
  color: var(--main-color);
}

.reviews .slide p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}

.reviews .slide h3 {
  font-size: 2rem;
  color: var(--black);
}

.reviews .slide span {
  font-size: 1.5rem;
  color: var(--main-color);
  display: block;
}

.reviews .slide img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-top: 1rem;
}

.packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.packages .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  background: var(--white);
  display: none;
}

.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6) {
  display: inline-block;
}

.packages .box-container .box:hover .image img {
  transform: scale(1.1);
}

.packages .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}

.packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
}

.packages .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.packages .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.packages .box-container .box .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}


.packages .box-container .box .content {
      padding: 2rem;
      text-align: center;
}

.packages .box-container .box .content h3 {
      font-size: 2.5rem;
      color: var(--black);
}

.packages .box-container .box .content p {
      font-size: 1.5rem;
      color: var(--light-black);
      line-height: 2;
      padding: 1rem 0;
}

.packages .load-more {
      text-align: center;
      margin-top: 2rem;
}
.booking .flex {
  display: flex;
  flex: wrap;
  gap: 1.5em;

}













